a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (min-width: 1200px) {
  .TopBanner_TopBanner__yxapE {
    height: auto;
  }
}
.TopBanner_TopBanner__yxapE {
  position: relative;
  overflow: hidden;
}

.TopBanner_TopBanner__yxapE .slick-slider {
  margin-bottom: 0;
}

.slick-slider {
  margin-bottom: 30px;
}
.slick-slider {
  position: relative;
  display: block;
  transition: ease 1000ms;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 1200px) {
  .slick-slide {
    width: 1060px;
  }
}

@media (min-width: 1200px) {
  .TopBanner_TopBanner__yxapE .slick-slider .slick-slide {
    padding: 0 12px;
    box-sizing: content-box;
  }
}
.TopBanner_TopBanner__yxapE .slick-slider .slick-slide {
  position: relative;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
.Image_Image__active___6EY5 {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.Image_Image__T6WBp {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
@media (min-width: 1200px) {
  .Information_Information__SwERN {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    /* opacity: 0; */
    text-align: left;
    left: 34px;
  }
}
.Information_Information__SwERN {
  text-align: center;
}
.TopBanner_TopBanner__yxapE
  .slick-slider
  .slick-slide
  > div
  > div
  > div
  > a
  > img {
  display: inline-block;
}
.slick-slide img {
  display: block;
}
.Image_Image__image__Y2rLN {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
img {
  vertical-align: middle;
}
.slick-slide img {
  display: block;
}
@media (min-width: 1200px) {
  .Information_Information__active__5qVDq {
    opacity: 1;
  }
}
.Information_Information__active__5qVDq {
  -webkit-animation: none;
  animation: none;
}
@media (min-width: 1200px) {
  .Information_Information__SwERN {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    /* opacity: 0; */
    text-align: left;
    left: 34px;
    background-color: pink;
  }
}
.Information_Information__SwERN {
  text-align: center;
}
.Information_Information__directButton__8Kgp3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}
.Button_Button__sizeMedium__k0A1w {
  height: 40px;
  font-size: 15px;
}
.Button_Button__textPrimary__hcFzK {
  color: #36f;
}
.Button_Button__text__GCOTx {
  padding: 6px 8px;
}
.Button_Button__root__V1ie3 {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.Information_Information__directButton__8Kgp3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}
.Button_Button__sizeMedium__k0A1w {
  height: 40px;
  font-size: 15px;
}
.Button_Button__textPrimary__hcFzK {
  color: #36f;
}

.Button_Button__text__GCOTx {
  padding: 6px 8px;
}
.Information_Information__divider__Z8vel {
  /* display: none; */
}
.TopBanner_TopBanner__yxapE .slick-slider .slick-slide > div {
  margin: 20px 10px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
hr {
  box-sizing: content-box;
  height: 0;
}
.Information_Information__SwERN {
  text-align: center;
}
.Information_Information__SwERN > h2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #333;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Information_Information__SwERN > h3 {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  color: #666;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Information_Information__divider__Z8vel {
  display: none;
}
.Divider_Divider__root__f2LD0 {
  height: 1px;
  margin: 0;
  border: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: lightskyblue;
  background-color: #ececec;
}
@media (min-width: 1200px) {
  .Information_Information__divider__Z8vel {
    display: block;
  }
}
@media (max-width: 1200px) {
  .Information_Information__divider__Z8vel {
    display: none;
  }
}
.Information_Information__directButton__8Kgp3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}
.Button_Button__sizeMedium__k0A1w {
  height: 40px;
  font-size: 15px;
}
.Button_Button__text__GCOTx {
  padding: 6px 8px;
}
.Button_Button__root__V1ie3 {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.Button_Button__label__1Kk0v {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  color: inherit;
}
.Information_Information__directButton__8Kgp3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}
.Button_Button__sizeMedium__k0A1w {
  height: 40px;
  font-size: 15px;
}
.Button_Button__textPrimary__hcFzK {
  color: #36f;
}
.Button_Button__endIcon__MpDfc {
  margin-top: -2px;
  margin-right: -1px;
  margin-left: 2px;
}
.Button_Button__label__1Kk0v {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  color: inherit;
}
.SvgIcon_SvgIcon__root__8vwon {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}
.SvgIcon_SvgIcon__root__svg__DKYBi {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: inherit;
}
.TopBanner_arrow__BN_7d {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
}
.TopBanner_nextArrow__6wqx0 {
  right: calc((100% - 1200px) / 2);
}
.TopBanner_arrow__BN_7d {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
}
.TopBanner_prevArrow__B7nqk {
  left: calc((100% - 1210px) / 2);
}
@media (min-width: 1200px) {
  .Information_Information__SwERN {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    /* opacity: 0; */
    text-align: left;
    left: 34px;
  }
}
@media (min-width: 1200px) {
  .Information_Information__SwERN > h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .Information_Information__SwERN > h3 {
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64;
    color: #333;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Image_Image__T6WBp {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
}

@media (min-width: 1200px) {
  .Information_Information__active__5qVDq {
    -webkit-animation: Information_in__LsISw 0.4s ease-in-out;
    animation: Information_in__LsISw 0.4s ease-in-out;
    opacity: 1;
  }
}
